@{
    ViewBag.Title = "Dank Rentals ";
}

<div class="jumbotron">
    <h1>Welcome to DANK RENTALS <sub>Vat_Num #69_420</sub></h1>
    <p class="lead">We have the dankest rental cars in the wild wild west boooiii</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg naaspadding">Login</a><a href="https://asp.net" class="btn btn-primary btn-lg">Sign Up</a></p>
</div>

<div class="row">
   <div class="col-md-offset-4 col-md-4 col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 panel">
        
   </div>    
</div>