
@{
    ViewBag.Title = "Rent a badboy";
}


<form method="GET">
    <h2>Rent a car</h2>
    <div class="form-group">
        <label class="control-label col-md-2" for="email">e-mail</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="Your email" />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="rental">Rental Car</label>
        <input class="form-control" type="text" id="rental" name="rental" placeholder="Your email" />
    </div>
    <div class="form-group">
        <input class="form-control" type="submit" value="Rent a bad boy" />
    </div>
</form>

